body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #0f172a;
  font-family: Arial, sans-serif;
}

.calculator {
  width: 100%;
  max-width: 350px;
  background: #020617;
  padding: 15px;
  border-radius: 12px;
}

#display {
  width: 100%;
  height: 60px;
  font-size: 1.5rem;
  margin-bottom: 10px;
  padding: 10px;
  text-align: right;
  border-radius: 8px;
  border: none;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 15px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  background: #1771cb;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #07090c;
}

@media (max-width: 480px) {
  button {
    padding: 12px;
    font-size: 0.9rem;
  }
}
